<div>
  <h1>
    Interface-aide
  </h1>
  <div class='container'>
    <div class='row'>
      <div class='col-3 ml-auto'>
        <app-login></app-login>
      </div>
    </div>
  </div>
  
  <div class='container'>
    <div class='row'>
      <div class='col-3 order-2' id='sidebar'>
        <app-contact-card></app-contact-card>
      </div>
      <div class='col order-1' id='main'>
        <app-category-card></app-category-card>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
